@import "../../variables.module.scss";

.form {
    width: 322px;
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 32px;
    border-radius: 5px;
    background-color: $white;
    box-shadow: $postShadow;
}
.legend {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
    color: $legendForm;
}

.label {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    background-color: $white;
    .input {
        padding: 10px;
        width: 100%;
        height: 40px;
        padding: 5px;
        border-radius: 5px;
        background-color: $white;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
    }
    placeholder {
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        color: $date;
    }
}
.checkLabel {
    padding: 10px;
    span {
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        text-align: left;
        color: $likes;
        }
}

.checkButton {
    margin-right: 5px;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid $checkButton;
    border-radius: 3px;
    vertical-align: top;

    &__checked {
        border-radius: 3px;
        background: $complete url('../../../public/images/checked.svg') no-repeat center;
    }
  }
  
  .checkBox {
    appearance: none;
    position: absolute;
  }

.errorBorder {
    border: 1px solid $delete;
    &:focus {
        outline: none;
        border: 2px solid $deleteShadow;
    }
}

.noErrorBorder {
    border: 1px solid $checkButton;
    &:focus {
        outline: none;
        border: 2px solid $checkButtonShadow;
    }
}

.errorText {
    color: $delete;
    font-size: 12px;
    display: none;
    margin: 0;
}

.visible {
    display: block;
}

.text {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: $date;

    .link {
        color: $complete;
        text-decoration: none;
    }
}
