@import '../../variables.module.scss';

.button {
    height: 40px;
    outline: none;
    padding: 8px 18px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: transparent;
    font-size: 18px;
    text-align: center;

    &:hover, &:active, &:focus {
        cursor: pointer;
        border: 1px solid $accept;
        box-shadow: 0px 0px 0px 1px $acceptShadow;
        color: $accept;
    }
}

.noBorder {
    border: 1px solid $transparent;
}

.tag {
    border: 1px solid $description;
    border-radius: 2px;
    margin-right: 3px;
    padding: 3px 5px;
    font-size: 12px;
    height: 20px;
    color: $description;
}

.CreateAccount {
    background-color: $complete;
    border: none;
    color: $white;
    width: 100%;
    height: 40px;
    :hover {
        background-color: $completeShadow;
    }
}

.disabled {
    background-color: $date;
    :hover {
        background-color: $likes;
    }
}

.createArticle {
    font-size: 14px;
    padding: 4px 8px;
}

.add {
    color: $complete;
    border: 1px solid $complete;
    width: 136px;    
    &:hover, &:active, &:focus {
        border: 1px solid $completeShadow;
        box-shadow: 0px 0px 0px 1px $completeShadow;
        color: $completeShadow;
    }
}

.delete {
    color: $delete;
    border: 1px solid $delete;
    width: 78px;  
    padding: 4px 8px;  
    &:hover, &:active, &:focus {
        border: 1px solid $deleteShadow;
        box-shadow: 0px 0px 0px 1px $deleteShadow;
        color: $deleteShadow;
    }
}

.send {
    background-color: $complete;
    border: none;
    color: $white;
    width: 319px;
    :hover {
        background-color: $completeShadow;
    }
}

.edit {
    color: $accept;
    border: 1px solid $accept;
    width: 65px;
    padding: 4px 8px;
    &:hover, &:active, &:focus {
        border: 1px solid $acceptShadow;
        box-shadow: 0px 0px 0px 1px $acceptShadow;
        color: $acceptShadow;   
    }
}
