@import "../../variables.module.scss";

.form {
    width: 938px;
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 32px;
    border-radius: 5px;
    background-color: $white;
    box-shadow: $postShadow;
}

.tagList {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    align-items: left;
}

.tagListText {
    width: 100%;
}


