body {
  margin: 0;
  background-color: gray;
}
@font-face {
  font-family: 'Inter UI';
  src: url('../public/fonts/Inter-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../public/fonts/Roboto-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
