$white: #fff;
$title: rgba(0, 115, 230, 1);
$titleHover: rgba(0, 115, 230, 0.7);
$black: #000;
$description: rgba(0, 0, 0, 0.5);
$likes: rgb(102, 102, 102);
$author: rgb(51, 51, 51);
$date: rgb(153, 153, 153);
$postShadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

$accept: rgba(82, 196, 26, 1);
$acceptShadow: rgba(82, 196, 26, 0.7);
$transparent: rgba(0, 0, 0, 0);
$complete: rgba(24, 144, 255, 1);
$completeShadow: rgba(24, 144, 255, 0.7);
$delete: rgba(245, 34, 45, 1);
$deleteShadow: rgba(245, 34, 45, 0.7);

$legendForm: rgba(38, 38, 38, 1);
$checkButton: rgba(217, 217, 217, 1);
$checkButtonShadow: rgba(217, 217, 217, 0.7);


